<!DOCTYPE html>
<html>
<head>
    <title>Activity Report</title>

    <form method="POST" action="/selection">
        <button class="btn btn-info" type="submit">Home</button>
    </form>
    <br>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Activity Report</h1>
    {{ table|safe }}
</body>


</html>

