
    <!DOCTYPE html>
    <html lang="en">

    <form method="POST" action="/selection">
        <button class="btn btn-info" type="submit">Home</button>
    </form>
    <br>

    <form method="POST" action="/abort">
      <button class="btn btn-danger" type="submit">Stop Sorting</button>
    </form>
    <br>   
    
    <head>
        <h2 class="lead text-center"><strong>Progress</strong>
            <br>

        <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
    
    <div class="container">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width:70%">
          <span class="sr-only">5% Complete</span>
        </div>
      </div>
    </div>
    
    </body>
    </html>
    